:root {
    --bg-color: #f0f7f4;
    --text-color: #2d3748;
    --primary-color: #4A4E58;
    --secondary-color: #4a5568;
    --tertiary-color: #D0D0D0;
    --correct-color:  #D0F0C0;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Lexend', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  
.quiz-container {
    width: 100%;
    max-width: 800px;
    padding: 40px;
    text-align: center;
}
  
header h1 {
    font-size: 2.5rem;
    color: var(--secondary-color);
    margin-bottom: 30px;
    font-weight: 600;
}
  
#progress, #score {
    color: var(--primary-color);
    margin-bottom: 20px;
    font-weight: 300;
}
  
#question {
    font-size: 1.8rem;
    color: var(--secondary-color);  
    margin-bottom: 30px;
    font-weight: 400;
}
  
#options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}
  
#options button {
    background-color: white;
    border: 2px solid var(--primary-color);
    color: var(--text-color);
    padding: 15px;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}
  
#options button:hover {
    background-color: var(--secondary-color); 
    color: white;
}
  
#options button:disabled {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    cursor: not-allowed;
}
  
#options button.correct {
    background-color: var(--correct-color);
    color: white;
}
  
#feedback {
    margin-bottom: 20px;
    font-weight: 600;
}
  
#next {
    background-color: var(--secondary-color); 
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none;
}
  
#next:hover {
    background-color: var(--primary-color);
}
  
@media (max-width: 600px) {
   #options {
       grid-template-columns: 1fr; 
   }
}
